<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>

<h1>Welcome to Cassie's Website</h1>

<!-- I bolded specific words in my paragraph for stylistic reasons -->
<p>This website serves as a "Get to Know" Cassie. Learn about her <strong>academic</strong>
   journey since attending the University of Maryland and her <strong> non-academic interests</strong>!!</p>


<h2>Non-Academic interests</h2>
<p>Cassie's personal interests ranges from <em>brain teasers</em> to getting <em>horrible</em> knee pain from running. But one interest exceeds them all...</p>

<!-- I used h3 as a sub header to organize my 2 types of lists -->
<h3>Cassie's Favorite Time Killers</h3>
<ul>
   <li>HayDay</li>
   <li>Embroidery</li>
   <li>LinkedIn Puzzle Games</li>
   <li>Shopping</li>
   <li>Running</li>
   <li>Blind Boxes</li>
</ul>
<h3>Cassie's Favorite's Favorite</h3>
<p>Out of all of Cassie's non-academic interests, the LinkedIn Puzzle Games is her favorite. Below, she ranked the games
based on how excited she is to play them in the morning!</p>
<ol>
   <li>Mini Sudoku</li>
   <li>Queens</li>
   <li>Tango</li>
   <li>Wend</li>
   <li>Zip</li>
   <li>Patches</li>
   <li>Crossclimb</li>
   <li>Pinpoint</li>
</ol>

<!-- I created a table of 2 columns and 5 rows -->
<h2>Cassie's Top 5 Courses</h2>
<table>
   <tr>
       <th>Course</th>
       <th>Semester</th>
   </tr>
   <tr>
       <td>BMGT402</td>
       <td>5</td>
   </tr>
   <tr>
       <td>BMGT310</td>
       <td>4</td>
   </tr>
   <tr>
       <td>BMGT311</td>
       <td>5</td>
   </tr>
   <tr>
       <td>ENGL398R</td>
       <td>5</td>
   </tr>
   <tr>
       <td>MUSC220</td>
       <td>4</td>
   </tr>
</table>


<h2>Cassie's Websites</h2>
<p>A link to the <a href="/hello">/My Hello Page</a>.</p>
<p>A link to the <a href="https://www.amazon.com/">Amazon Storefront</a>.</p>
<p>A link to the <a href="https://www.sephora.com/" target="_blank">Sephora Makeup Storefront Forcing a New Browser Tab</a>.</p>

<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width="267" height="72" alt="Smith Logo">

</body>
</html>